html {
  height: 100%;
}

body {
  padding: 0px;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
*/
  margin: 0px;
  height: 100%;
  /*width: 100%;*/
  /*border: 20px solid #700440;*/
  background-color: #FAD2E2;


}

a {
  color: #00B7FF;
}

.sideNavBar {
  width: 200px;
  position:relative;
  float:left;
}

.mainContent {
  position:relative;
  border: 15px solid #700440;
  overflow:hidden;
  height: 100%;
  padding: 20px;
}

/*code from http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-top {
  height: 100px;
  color: black;
  background-color: #FFFFFF;
  margin-bottom: 0px;
}

.withLoveLogoContainer {
    height: 100%;
    background:   url("/images/logo.png")no-repeat;
    background-size: cover;
    background-position: center;
}


.topHeaderFont {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
