extends layout

block title
  title= title

block styles
  link(href="/external/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/style.css')


block scripts
  script(src="/external/jquery-1.11.3.min.js")
  script(src="/external/bootstrap-3.3.5-dist/js/bootstrap.min.js")
  script(src="/javascripts/index.js")

block content

  div.navbar.navbar_top
    div.container-fluid(style="max-height: 100px")
      img.withLoveLogo(src="/images/logo_header.png" alt="With Love Artificial and Preserved Flowers" style="display:block; max-height:100px; max-width:100%; margin: 0 auto")


  nav.navbar.navbar-default.navbar_options
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse#navCollapse
        ul.nav.navbar-nav#navList
          li.active
            a.navOption(href="#") With Love
              span.sr-only (current)
          li
            a.navOption(href="#") Preserved Flowers
          li
            a.navOption(href="#") Lesson
          li
            a.navOption(href="#") Wedding
          li
            a.navOption(href="#") Order / Shop
          li
            a.navOption(href="#") Contact

  //div.sideNavBar
    ul.menu.nav.navbar-default(role="tablist")
      li
        a(href="#") Hello
      li
        a(href="#") 2
      li
        a(href="#") 3
  div.sideColumn
    a(href="#")
      img.sideOptionButton(src="/images/facebook_pink.png")
    br
    a(href="#")
      img.sideOptionButton(src="/images/blog_pink.png")
    a(href="#")
      img.sideOptionButton(src="/images/facebook_pink.png")
    br
    a(href="#")
      img.sideOptionButton(src="/images/facebook_pink.png")
    br

  div.mainContent
    h1= title
    p Welcome to #{title}
